body{
  background-color: #242424;
}
h1, h2, h3, li{
  color: #dcdcdc;
}
input[type="text" i] {
  background-color: #3b3b3b;
  height: 1.5rem;
  width: 90%;
  margin-top: 20px;
}
#root {
    text-align: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;

}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.apartados{
  width: 70%;
  border: solid 1px grey;
  padding: 30px;
  height: 80vh;
  box-shadow: 14px 15px 38px -11px rgba(105,96,105,1);
}
.parametros{
  border: 1px solid grey;
  width: 30%;
  border-radius: 10px;
  height: 75vh;
}
.parametros h2 span{
  font-size: 12px;
}
.parametros ul li{
  list-style: none;
}
.sub{
  width: 80%;
  border-bottom: 1px solid gray;
  margin: 0 auto;
  margin-top: 20px;
}
#aggTarea{
  display: flex;
  position: sticky;
    left: 30%;
    margin-top: 15px;
}
#aggTarea .agg{
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}
.listas ul{
  list-style: none;
  padding: 0;
}
.listas ul li{
  width: 80%;
  margin: 0  auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listas ul li div.icons{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.listas ul li div.icons span{
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}




aside{
  width: 20%;
  border: 1px solid grey;
  height: 75vh;
}
.container nav{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.container ul{
    list-style: none;
    text-align: left;
    padding: 0;
}
.container ul li{
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
}
.container ul li a{
    color: white;
    width: 100%;
    padding: 15px 0;
}
.container ul li a:hover{
  font-size: 20px;
  transition: ease .5s;
}
footer{
  margin: 5rem 0 2rem 0;
}
footer .Integrantes{

  display:flex;
  justify-content: space-around;
  box-shadow: 2px -6px 7px -1px rgba(105,96,105,1);
}
